@font-face {
  font-family: 'Montserrat Alternates';
  src: url('fonts/montserrat-alternates.woff2') format('woff2'),
       url('fonts/montserrat-alternates.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-montserrat-alternates: 'Montserrat Alternates', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
}

body{
  padding:0;
  margin: 0;
  font-family: 'Montserrat Alternates',sans-serif;
  color: 000;
  font-size: 22px;
}
h1,h2,h3,h4,h5,h6{
  padding:0;
  margin: 0;
  text-transform: uppercase;
}
ul, li{
  display: block;
}
.container{
  width: 571px;
  margin: 0 auto;
}
.header{
  background: url('../img/logo.svg') no-repeat center top;
}
header li{
  color: 000;
}
.menu{
  display: flex;
  margin: -15px;
}
.menu li {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
}
selection{
  padding-top: 28px;
}
.boxes{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 270px);
  gap: 20px;
  margin: 20px;
}
.box{
  width: 270px;
  height: 489px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.box1{
  width: 270px;
  height: 700px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.box2{
  width: 270px;
  height: 400px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.images{
  width: 250px;
  margin: 10px;
  margin-top: 20px;
}
.p1{
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
}
.p2{
  font-size: 22px;
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.p3{
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}
.p4{
  font-size: 22px;
  text-align: center;
  margin-top: 0px;
}
.box3{
  width: 567px;
  height: 415px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
  margin: 0 auto;
}
.container1{
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  column-count: 2;
  column-gap: 20px;
}
.images1{
  width: 550px;
  height: 223px;
  margin: 10px;
  margin-top: 20px;
}
.p5{
  font-size: 22px;
  text-align: left;
  margin-top: -10px;
  margin-left: 25px;
}
.p6{
  font-size: 22px;
  text-align: left;
  margin-top: -5px;
  margin-right: 25px;
}
.btn{
  display: flex;
  justify-content: center;
}
.button1{
border:0px solid #000;
background:linear-gradient(to right,#F4C464, #F89B3E);
padding: 20px 107px;
text-decoration:none;
color: black;
border-radius: 23px;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
margin: 30px;
}
@media screen and (max-width: 575px) {
   .container {
  width: 340px;
  padding: 0 15px;}
  .boxes{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 170px);
  gap: 12px;
  margin: 20px;}
  .box{
  width: 170px;
  height: 309px;}
  .images{
  width: 91%;
  margin: 8px;
  margin-top: 10px;
}
  .box1{
  width: 170px;
  height: 450px;
}
  .box2{
  width: 170px;
  height: 230px;}
  .box3{
  width: 360px;
  height: 255px;}
  .images1{
  width: 340px;
  height: 143px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: -8px
}
.p1{
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
}
.p2{
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.p3{
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.p4{
  font-size: 14px;
  text-align: center;
  margin-top: 7px;
}
  .p5{
  font-size: 14px;
  text-align: left;
  margin-top: 2px;
  margin-left: 25px;
}
.p6{
  font-size: 14px;
  text-align: left;
  margin-right: 25px;
}
.logo{
  width: 75px
}
.button1{
padding: 20px 107px;
border-radius: 23px;
font-size: 14px;
margin: 30px;
  margin-top: 9px
}
  .audio{
  display: flex;
  justify-content: center;
  margin: 15px;
}
.menu li{
  font-size: 25px;
  margin-left: -5px
}
}
