body{
	padding:0;
	margin: 0;
	font-family: 'Montserrat Alternates',sans-serif;
	color: 000;
	font-size: 22px;
}
h1,h2,h3,h4,h5,h6{
	padding:0;
	margin: 0;
	text-transform: uppercase;
}
ul, li{
	display: block;
}
.container{
	width: 571px;
	margin: 0 auto;
}
.header{
	background: url('../img/logo.svg') no-repeat center top;
}
header li{
	color: 000;
}
.menu{
	display: flex;
}
.menu li {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 32px;
}
selection{
	padding-top: 28px;
}
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.p1{
	font-size: 25px;
	font-weight: 600px;

}
.desc-left p{
	margin-top: 20px;
}
.p2{
	margin-top: 8px;
 margin-bottom: 25px;
text-align: center;
font-size: 32px;
}
.boxes{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 270px);
  gap: 20px;
  margin: 20px;
  text-align:center;
margin-bottom: 30px
}
.box{
width: 270px;
height: 100px;
background: linear-gradient( 40deg,#F4C464, #F89B3E);
border-radius: 23px;
border:0px solid #000;
text-decoration:none;
color: black;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
}
.par{
	margin-top:32px
	}
@media screen and (max-width: 575px) {
.container {
width: 340px;
padding: 0 15px;}
.menu li {
	font-size: 22px;
}
	.p1{
	font-size: 16px;
	font-weight: 600px;

}
.p2{
font-size: 22px;
}
	body{
	padding:0;
	margin: 0;
	font-family: 'Montserrat Alternates',sans-serif;
	color: 000;
	font-size: 12px;
}
.imagine{
	width:100%
}
.imagine1{
	width:170px
}
.logo{
width: 75px
}
.nav{
margin-bottom: 10px
}
.boxes{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 174px);
  gap: 10px;
  margin: 10px;
  text-align:center;
}
.box{
width: 174px;
height: 80px;
background: linear-gradient( 40deg,#F4C464, #F89B3E);
border-radius: 23px;
border:0px solid #000;
text-align:center;
text-decoration:none;
line-height: 80px
color: black;
font-size: 16px;
box-shadow: 0px 4px 35px #F4C464;
margin-bottom: 30px
}
.par{
	margin-top:28px
	}
}







