body{
	padding:0;
	margin: 0;
	font-family: 'Montserrat Alternates',sans-serif;
	color: 000;
	font-size: 22px;
}
h1,h2,h3,h4,h5,h6{
	padding:0;
	margin: 0;
	text-transform: uppercase;
}
ul, li{
	display: block;
}
.container{
	width: 571px;
	margin: 0 auto;
}
.header{
	background: url('../img/logo.svg') no-repeat center top;
}
header li{
	color: 000;
}
.menu{
	display: flex;
}
.menu li {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 32px;
}
selection{
	padding-top: 28px;
}
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.p1{
	font-size: 25px;
	font-weight: 600px;

}
.desc-left p{
	margin-top: 20px;
}
.p2{
	margin-top: 8px;
 margin-bottom: 25px;
text-align: center;
font-size: 32px;
}
.button1{
border:0px solid #000;
background:linear-gradient(to right,#F4C464, #F89B3E);
padding: 45px 107px;
text-decoration:none;
color: black;
border-radius: 23px;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
}
.button2{
border:0px solid #000;
padding: 45px 42px;
text-decoration:none;
color: black;
border-radius: 23px;
font-size: 22px;
background: linear-gradient(to left,#F4C464, #F89B3E);
box-shadow: 0px 4px 35px #F4C464;
}
.btn2{
	display: flex;
	justify-content: space-between;
	margin-top: 23px;

}
.button3{
border:0px solid #000;
background:linear-gradient(to right,#F4C464, #F89B3E);
padding: 45px 110px;
text-decoration:none;
color: black;
border-radius: 23px;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
}
.button4{
border:0px solid #000;
background:linear-gradient(to left,#F4C464, #F89B3E);
padding: 45px 59px;
text-decoration:none;
color: black;
border-radius: 23px;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
}
