@font-face {
  font-family: 'Montserrat Alternates';
  src: url('fonts/montserrat-alternates.woff2') format('woff2'),
       url('fonts/montserrat-alternates.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-montserrat-alternates: 'Montserrat Alternates', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
}

body{
  padding:0;
  margin: 0;
  font-family: 'Montserrat Alternates',sans-serif;
  color: 000;
  font-size: 22px;
}
h1,h2,h3,h4,h5,h6{
  padding:0;
  margin: 0;
  text-transform: uppercase;
}
ul, li{
  display: block;
}
.container{
  width: 571px;
  margin: 0 auto;
}
.header{
  background: url('../img/logo.svg') no-repeat center top;
}
header li{
  color: 000;
}
.menu{
  display: flex;
  margin: -15px;
}
.menu li {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
}
selection{
  padding-top: 28px;
}
.golova{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 270px);
  gap: 20px;
  margin: 20px;
}
.images{
  width: 270px;
  height: 206px ;
  margin-top: 37px;
}
.text{
  font-size: 15px;
}
.p1{
  margin-top: -10px;
  font-size: 15px;
}
.boxes{
   display: grid;
  align-items: center;
  justify-content: center;
 gap: 40px;
}
.box{
   width: 570px;
  height: 232px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
  display: flex;
  align-items: center
}
.img{
  height:206px ;
  width:250px ;
  margin: 10px;
}
.p2{
  font-size: 20px;
  margin-right: 20px;
  margin-left: 30px;
}
.p{
  text-align: center;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.btn{
  display: flex;
  justify-content: center;
}
.button1{
border:0px solid #000;
background:linear-gradient(to right,#F4C464, #F89B3E);
padding: 20px 107px;
text-decoration:none;
color: black;
border-radius: 23px;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
margin: 30px;
}
.audio{
  display: flex;
  justify-content: center;
  margin: 20px;

}
@media screen and (max-width: 575px) {
.container {
width: 340px;
padding: 0 15px;}
  .menu li {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
}
.golova{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 170px);
  gap: 10px;
  margin: 10px;
} 
.images{
width: 170px;
height: 110px ;
margin-top: 37px;
}
  .text{
  font-size: 12px;
}
.p1{
  margin-top: -1px;
  font-size: 12px;
}
  .boxes{
   display: grid;
  align-items: center;
  justify-content: center;
 gap: 15px;
    
}
.box{
   width: 380px;
  height: 142px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
  display: flex;
  align-items: center
}
.img{
  height:116px ;
  width:160px ;
  margin: 10px;
  
}
.p2{
  font-size: 14px;
  margin-right:20px;
  margin-left:20px;
}
.p{
  text-align: center;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 20px;
  margin-left: 20px;
}
.button1{
font-size: 15px;
margin: 50px;
  margin-top: 10px
}
  .audio{
  display: flex;
  justify-content: center;
  margin: 15px;
}
.img1{
  height:116px ;
  width:150px ;
  margin: 10px;
}
  .img2{
  height:116px ;
  width:200=0px ;
  margin: 10px;
}
.logo{
  width:75px
}
