body{
	padding:0;
	margin: 0;
	font-family: 'Montserrat Alternates',sans-serif;
	color: 000;
	font-size: 22px;
}
h1,h2,h3,h4,h5,h6{
	padding:0;
	margin: 0;
	text-transform: uppercase;
}
ul, li{
	display: block;
}
.container{
	width: 571px;
	margin: 0 auto;
}
.header{
	background: url('../img/logo.svg') no-repeat center top;
}
header li{
	color: 000;
}
.menu{
	display: flex;
}
.menu li {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 32px;
}
selection{
	padding-top: 28px;
}
.boxes{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 270px);
  gap: 20px;
  margin: 20px;
  margin-top: 40px;
}
.box{
  width: 270px;
  height: 525px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.box1{
  width: 270px;
  height: 470px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.images{
  width: 250px;
  margin: 10px;
  margin-top: 20px;
}
.p{
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  margin-left: 15px;
}
.p1{
  font-size: 20px;
  text-align: left;
  margin-top: 50px;
  margin-left: 15px;
}
.p2{
  font-size: 20px;
  text-align: left;
  margin-top: 70px;
  margin-left: 15px;
}
.p3{
  font-size: 15px;
  text-align: left;
  margin: 40px;
}
.boxes1{
   display: grid;
  align-items: center;
  justify-content: center;
 gap: 40px;
}
.box2{
   width: 570px;
  height: 232px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
  display: flex;
  align-items: center
}
.img{
  height:206px ;
  width:250px ;
  margin: 10px;
}
.btn{
  display: flex;
  justify-content: center;
}
.button1{
border:0px solid #000;
background:linear-gradient(to right,#F4C464, #F89B3E);
padding: 20px 107px;
text-decoration:none;
color: black;
border-radius: 23px;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
margin: 40px;
}
@media screen and (max-width: 575px) {
   .container {
  width: 100%;
  padding: 0 15px;}
}
