@font-face {
  font-family: 'Montserrat Alternates';
  src: url('fonts/montserrat-alternates.woff2') format('woff2'),
       url('fonts/montserrat-alternates.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-montserrat-alternates: 'Montserrat Alternates', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
}

body{
  padding:0;
  margin: 0;
  font-family: 'Montserrat Alternates',sans-serif;
  color: 000;
  font-size: 22px;
}
h1,h2,h3,h4,h5,h6{
  padding:0;
  margin: 0;
  text-transform: uppercase;
}
ul, li{
  display: block;
}
.container{
  width: 571px;
  margin: 0 auto;
}
.header{
  background: url('../img/logo.svg') no-repeat center top;
}
header li{
  color: 000;
}
.menu{
  display: flex;
  margin: -15px;
}
.menu li {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
}
selection{
  padding-top: 28px;
}
.golova{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.box{
  width: 660px;
  height: 330px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.img{ 
  width: 200px;
  height: 309px;
}
.p{
  font-size: 15px;
  text-align: left;
  justify-content: center;
  margin: 40px;
  display: grid;
}
.boxes{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 270px);
  gap: 20px;
  margin: 20px;
}
.box1{
  width: 270px;
  height: 558px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.box2{
    width: 270px;
  height: 740px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.img1{
  width: 250px;
  height: 353px;
  margin-top: 20px;
  margin-left: 10px;
}
.p1{
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 10px;
}
.p2{
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-right: 10px;
}
.img2{
  width: 250px;
  height: 453px;
  margin-top: 20px;
  margin-left: 10px;
}
.btn{
  display: flex;
  justify-content: center;
}
.button1{
border:0px solid #000;
background:linear-gradient(to right,#F4C464, #F89B3E);
padding: 40px 107px;
text-decoration:none;
color: black;
border-radius: 23px;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
margin: 30px;
}
.img4{
  width: 70px;
  height: 70px;
}
.btn1{
border:0px solid #000;
background:linear-gradient(to right,#F4C464, #F89B3E);
padding: 4px 160px;
text-decoration:none;
color: black;
border-radius: 100px;
font-size: 22px;
box-shadow: 0px 4px 35px #F4C464;
margin: 30px;
text-align: center;
margin-top: -10px;
}
.p3{
   font-size: 15px;
  text-align: center;
  margin-top: 15px;
}
.audio{
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-top: -10px;

}
@media screen and (max-width: 575px) {
   .container {
  width: 370px;
  padding: 0 15px;}
  .menu li {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
}
  .golova{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.box{
  width: 660px;
  height: 240px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 0px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 11px;
  justify-content: center;
}
.img{ 
  width: 130px;
  height: 210px;
  margin:
}
.p{
  font-size: 12px;
}
.boxes{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 170px);
  gap: 20px;
  margin: 20px;
}
.box1{
  width: 170px;
  height: 358px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.box2{
    width: 170px;
  height: 465px;
  background: linear-gradient( 40deg,#F4C464, #F89B3E);
  border: 1px solid white;
  border-radius: 23px;
}
.img1{
  width: 150px;
  height: 200px;
  margin-top: 20px;
  margin-left: 10px;
}
.p1{
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  margin-right: 10px;
}
.p2{
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  margin-right: 10px;
}
.img2{
  width: 150px;
  height: 250px;
  margin-top: 20px;
  margin-left: 10px;
}
.btn{
  display: flex;
  justify-content: center;
}
}
